In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta
from datetime import datetime
from mpl_toolkits.axes_grid1.inset_locator import inset_axes

File a):

Read the data


Plot 2d profile time series of units 50163d and 554f2d, using e.g. “contourf” (see attached example plot).

In [11]:
df = pd.read_csv("data/tsticks.log"
                 ,delimiter = ", "
                 , comment = "#"
                ,names = ["module","HEX ID","timestamp","sensor1","sensor2","sensor3","sensor4","sensor5","sensor6","sensor7","sensor8"]
                 ,engine='python'
                )
#module,HEX ID,timestamp,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8

--------

In [12]:
def return_date(string):
    string = string.replace("T", " " )
    string = string.replace("Z", "" )
    date = datetime.strptime(string, '%Y-%m-%d %H:%M:%S')
    return date

def change_date(row):
    row["timestamp"] = row["timestamp"].replace("T", " " )
    row["timestamp"] = row["timestamp"].replace("Z", "" )
    date = datetime.strptime(row["timestamp"], '%Y-%m-%d %H:%M:%S')
    return date

def return_time_diff(row):
    date1 = "2023-01-13T16:30:16Z" #Initialization time
    date2 = "2023-01-17T15:01:19Z" #first timestamp
    if 'time' in row:
        first_time = return_date(date2)
        later_time = row["time"]
        difference = later_time - first_time
        seconds_in_day = 24 * 60 * 60
        min_sec = divmod(difference.days * seconds_in_day + difference.seconds, 60)
        return_val = min_sec[0]*60+min_sec[1]
    else:
        print("Time Column doesnt exist")
        return_val = np.nan
    return return_val

In [13]:
df['time'] = df.apply(change_date, axis=1)
df['time_diff'] = df.apply(return_time_diff, axis=1)

In [14]:
df

,module,HEX ID,timestamp,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,time,time_diff
0,6,66f43c,2023-01-17T15:01:19Z,19.06,19.19,19.19,19.19,19.19,19.00,19.13,19.06,2023-01-17 15:01:19,0
1,7,894a2d,2023-01-17T15:01:26Z,19.19,19.06,18.94,19.13,19.19,19.13,19.13,19.19,2023-01-17 15:01:26,7
2,8,554f2d,2023-01-17T15:01:33Z,17.06,16.94,16.81,16.94,16.94,17.00,16.94,16.94,2023-01-17 15:01:33,14
3,2,50163d,2023-01-17T15:01:50Z,16.94,16.94,16.94,17.06,17.00,17.00,17.00,17.00,2023-01-17 15:01:50,31
4,3,49da2e,2023-01-17T15:01:57Z,18.81,18.63,18.69,18.69,18.69,18.56,18.63,18.69,2023-01-17 15:01:57,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18417,6,66f43c,2023-01-19T11:09:24Z,19.50,19.56,19.50,19.44,19.50,19.31,19.38,19.19,2023-01-19 11:09:24,158885
18418,7,894a2d,2023-01-19T11:09:31Z,19.75,19.69,19.69,19.75,19.75,19.69,19.63,19.63,2023-01-19 11:09:31,158892
18419,8,554f2d,2023-01-19T11:09:38Z,10.19,8.13,5.94,2.44,-0.56,-0.88,-1.00,-0.94,2023-01-19 11:09:38,158899
18420,2,50163d,2023-01-19T11:09:55Z,10.50,8.69,6.69,3.38,-0.44,-0.75,-0.94,-0.69,2023-01-19 11:09:55,158916
18421,3,49da2e,2023-01-19T11:10:02Z,19.88,19.75,19.81,19.75,19.81,19.69,19.75,19.69,2023-01-19 11:10:02,158923